<footer style="background: linear-gradient(0deg, rgba(255, 245, 242, 1) 29%, rgba(245, 186, 187, 1) 100%);">
  <div class="text-center p-3">
    © 2025 Copyright:
    <a href="#" class="text-dark">Lu'lu' Luthfiah</a>
  </div>
</footer>
