<style>
  body {
    background: linear-gradient(
      0deg,
      rgba(250, 249, 238, 1) 29%,
      rgba(220, 207, 192, 1) 65%,
      rgba(238, 238, 238, 1) 100%
    );
    background-attachment: fixed;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .about {
    background-color: #E7CCCC;
    font-size: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: none;
    justify-content: center;
  }
  p {
    font-weight: 600;
    color: #4a4a4a;
  }
</style>

<body>
  <div class="about">
    <p>
      This project was created for UCP 1 Praktikum Pengembangan Aplikasi Web
      <br />
      Author: Lu'lu' Luthfiah <br />
      NIM: 20230140209
    </p>
  </div>
</body>
