<style>
  body {
    background: #fbf3d5;
    background-attachment: fixed;
  }
  .custom-btn {
    background-color: #d6a99d;
    border-color: #d6a99d;
    color: #000;
  }

  .custom-btn:hover {
    background-color: #fbf3d5;
    border-color: #fbf3d5;
    color: #000;
  }
</style>
<body>
  <h1>Welcome!</h1>
  <h3>Selamat datang di Perpustakaan Ceria!</h3>
  <a href="/buku-list" class="btn btn-primary custom-btn">Ke halaman Buku</a>
  <a href="/about" class="btn btn-primary custom-btn">Ke halaman about</a>
</body>